<div class="row" id="footer">
  <div class="col-12">
     <div class="footerContent">
          <h1 class="footerHeader">{{"layout.contact-header" | translate}}</h1>
          <p class="footerSubHeader">{{"layout.contact-text" | translate}}</p>
          <div class="socialIcons">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-upwork"></a>
            <a href="#" class="fa fa-behance"></a>
          </div>
          <div>
             <p class="contact">{{"layout.email-us" | translate}}</p>
             <a href="#" class="email">info@weather.com</a>
          </div>
          <div class="contactsSec">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="contactsList">
                <div class="name">Omar AbdElaziz</div>
                <a href="#" class="email">omar.abdelaziz.mi@gmail.com</a>
                <a dir="ltr" class="phone">+201141455077</a>
              </div>
            </div>
          </div>
          </div>
     </div>
  </div>
</div>
