.projects {
  overflow: hidden;
}

.container {
  color: #fff;
  padding-top: 20px;
}
.saveButton{
  padding:6px 32px;
  background-color: #000;
  color: #40ac4e;
  border-radius: 50px;
  margin: 30px 5px 0 5px;
}

.weatherData {
  margin: 30px auto;
  box-shadow:inset 0 0 0 2000px rgba(253, 202, 113, 0.384);
  padding: 15px;
  border-radius: 10px;
}

.weatherData p{
  margin: 0;
}

.weather-value {
  color: #40ac4e;
  font-weight: bold;
}

.header-title {
  color: #fff;
  margin: 4px;
}

.time-badge {
    background-color: forestgreen;
    padding: .25em .4em;
    width: 50%;
    margin: 10px auto;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.m-form .m-form__group label.col-form-label {
  padding: 6px !important;
}


