<div class="projects bg">
  <app-header></app-header>
    <div class="container">
      <h4 class="header-title">{{"layout.forecast" | translate}}</h4>
      <form class="m-form m-form--state m-form--fit" (ngSubmit)="onSubmit(mForm)"
          #mForm="ngForm" id="m_form_2">
        <div class="m-portlet__body">
            <div class="form-group m-form__group row"
            [ngClass]="{'has-danger':mForm.submitted && name.hasError('required') || (name.touched && name.hasError('required'))}">
                <div class="col-lg-3"></div>
                <label class="col-form-label col-lg-1 col-sm-12">
                  {{"Weather.city" | translate}}
                </label>
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <input [(ngModel)]="cityName" type="text" class="form-control m-input" name="name"
                    placeholder="{{'Weather.city-place-holder' | translate}}" required #name="ngModel">
                    <div *ngIf="mForm.submitted && name.hasError('required') || (name.touched && name.hasError('required'))"
                        class="form-control-feedback">
                        {{"Weather.required" | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__foot m-portlet__foot--fit">
          <div class="row">
              <div class="col-lg-5 ml-lg-auto mr-lg-auto text-center">
                  <button type="submit" class="btn btn-accent saveButton">
                    {{"Weather.search" | translate}}
                  </button>
                  <button type="submit" class="btn btn-accent saveButton">
                    {{"Weather.update" | translate}}
                  </button>
              </div>
          </div>
          <div class="row">
            <div class="col-lg-5 ml-lg-auto mr-lg-auto">
              <div class="time-badge" *ngIf="lastUpdate">{{"Weather.last-update" | translate}} : {{lastUpdate}}</div>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-lg-4 weatherData" *ngIf="forecast">
          <p>{{"Weather.city" | translate}} : <span class="weather-value">{{forecast.city.name}}</span></p>
        </div>
      </div>
      <div  *ngIf="forecast">
        <div class="table-responsive" *ngFor="let forecast of forecastList">
          <h5 dir="ltr" class="text-center p-1">{{forecast[0].date}}</h5>
          <table class="table table-bordered table-dark text-center">
            <thead class="thead-light">
              <tr>
                <th scope="col">{{"Weather.time" | translate}}</th>
                <th scope="col">{{"Weather.temperature" | translate}}</th>
                <th scope="col">{{"Weather.real-feel" | translate}}</th>
                <th scope="col">{{"Weather.pressure" | translate}}</th>
                <th scope="col">{{"Weather.humidity" | translate}}</th>
                <th scope="col">{{"Weather.wind-speed" | translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let weather of forecast">
                <td><span class="weather-value">{{weather.dt_txt | date:'HH MM a'}} </span>
                <td><span class="weather-value">{{weather.main.temp | number:'1.0-0'}} °C </span>
                  <span> {{weather.weather[0].main}}</span>
                  <span><img width="42" height="42" [src]="'http://openweathermap.org/img/wn/' + weather.weather[0].icon + '@2x.png'" /></span>
                </td>
                <td><span class="weather-value">{{weather.main.feels_like}} °C</span></td>
                <td><span class="weather-value">{{weather.main.pressure}} mb</span></td>
                <td><span class="weather-value">{{weather.main.humidity}} g/m3</span></td>
                <td><span class="weather-value">{{weather.wind.speed}} m/s</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <hr>
  <app-footer></app-footer>
</div>